html, body{
    width: 100%;
    margin: 0;
}

.button{
    position: absolute;
    width: 70%;
    height: 150px;
    border-radius: 100px;
}

.top-button{
    margin: 5% 0 0 13.5%;
    background-color: #EAEAEA;
}