html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url('images/backgrounds/cross_pattern_bckg.png');
    background-size: 7%;
    background-position: 1.3% 0%;
}

.button{
    position: absolute;
    width: 80%;
    height: 185px;
    border-radius: 100px;
}

.top-button{
    margin: 11% 0 0 9%;
    background-color: #EAEAEA;
    transform: scale(0);
    animation: button-scale 0.5s 0.3s forwards;
}

.tabel-button{
    margin: 106% 0 0 9%;
    background-color: #FF9423;
    transform: scale(0);
    animation: button-scale 0.5s 0.9s forwards;
}

.commis-button{
    height: 11%;
    margin: 257% 0 0 9%;
    background-color: #FF5A4B;
    transform: scale(0);
    animation: button-scale 0.5s 2.3s forwards;
}

.button-text{
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    color: #000000;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    margin-top: 9%;
}

.commis-text{color: #FFF; margin-top: 6%;}

.title-area{
    position: absolute;
    width: 80%;
    height: 400px;
    margin: 26% 0 0 9.5%;
    animation: title 0.7s 0.3s forwards;
    opacity: 0;
}

.title{
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: bold;
    font-size: 110px;
    line-height: 1.1;
    text-align: center;
    color: #000000;
    text-shadow: -6px 6px 0px #FF9423;
}

.text-area{
    position: absolute;
    margin: 68% 0 0 6%;
    width: 87%;
    height: 105%;
}

.texts{
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    color: #000000;
}

.text1{
    position: absolute;
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    opacity: 0;
    animation: text-opc 0.7s 0.6s forwards;
}
.text2{
    position: absolute;
    font-size: 46px;
    margin-top: 90%;
    text-align: left;
    font-weight: 600;
    opacity: 0;
    animation: text-opc 0.7s 1.5s forwards;
}
.text3{
    position: absolute;
    font-size: 46px;
    font-weight: 600;
    margin-top: 195%;
    opacity: 0;
    animation: text-opc 0.7s 2s forwards;
}

.subtitle-area{
    width: 60%;
    height: 7%;
    opacity: 0;
    position: absolute;
}

.rules{
    margin-top: 67%;
    animation: text-opc 0.7s 1.2s forwards;
}

.pay{
    margin-top: 172%;
    animation: text-opc 0.7s 1.8s forwards;
}

.subtitle-text{
    font-size: 80px;
    font-family: 'Century Gothic';
    font-weight: bold;
}
.subrules{color: #FF3523;}
.subpay{color: #375E7A;}

#footer{
    position: absolute;
    width: 100%;
    height: 8%;
    margin-top: 285%;
}

#footer-text{
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 39px;
    margin-bottom: 5%;
    line-height: 1;
    text-align: center;
    color: #000000;
}

@keyframes title{
    0%{transform:translateY(-50px); opacity: 0;}
    100%{transform:translateY(20px); opacity: 1;}
}

@keyframes text-opc{
    0%{transform:translateY(-50px); opacity: 0;}
    100%{transform:translateY(20px); opacity: 1;}
}

@keyframes button-scale{
    0%{transform:scale(0); opacity: 0;}
    100%{transform:scale(1); opacity: 1;}    
}

@media (min-width:1281px){
    html, body{
        width: 100%;
        height: 100%;
        margin: 0;
        background-image: url('images/backgrounds/cross_pattern_bckg.png');
        background-size: 4%;
        background-position: 0.9% 0%;
    }
    #commissions-area{
        width: 55%;
        height: 200%;
        margin: 0 0 0 23.4%;
        /*background-color: aquamarine;*/
    }
    .button{
        position: absolute;
        width: 25%;
        height: 60px;
        border-radius: 100px;
    }    
    .button-text{
        font-family: 'Quicksand', sans-serif;
        font-style: normal;
        color: #000000;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 1;
        text-align: center;
        margin-top: 6.7%;
    }
    .top-button{
        margin: 2% 0 0 14%;
        background-color: #EAEAEA;
        transform: scale(0);
        animation: button-scale 0.5s 0.3s forwards;
    }
    .tabel-button{
        margin: 26% 0 0 14%;
        background-color: #FF9423;
        transform: scale(0);
        animation: button-scale 0.5s 0.9s forwards;
    }
    
    .commis-button{
        height: 12.5%;
        margin: 79% 0 0 14%;
        background-color: #FF5A4B;
        transform: scale(0);
        animation: button-scale 0.5s 2.3s forwards;
    }
    
    .title-area{
        position: absolute;
        width: 80%;
        height: 400px;
        margin: 5% 0 0 -12.5%;
        animation: title 0.7s 0.3s forwards;
        opacity: 0;
    }    
    .title{
        font-family: 'Century Gothic';
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 1.1;
        text-align: center;
        color: #000000;
        text-shadow: -3px 4px 0px #FF9423;
    }
    .text-area{
        position: absolute;
        margin: 15% 0 0 5%;
        width: 44%;
        height: 105%;
    }
    
    .texts{
        font-family: 'Quicksand', sans-serif;
        font-style: normal;
        color: #000000;
    }
    
    .text1{
        position: absolute;
        font-size: 18px;
        text-align: center;
        font-weight: 600;
        opacity: 0;
        animation: text-opc 0.7s 0.6s forwards;
    }
    .text2{
        position: absolute;
        width: 73%;
        line-height: 1.3;
        font-size: 20px;
        margin: 53% 0 0 12%;
        text-align: left;
        font-weight: 600;
        opacity: 0;
        animation: text-opc 0.7s 1.5s forwards;
    }
    .text3{
        position: absolute;
        font-size: 20px;
        margin: 120% 0 0 30%;
        font-weight: 600;
        opacity: 0;
        text-align: center;
        animation: text-opc 0.7s 2s forwards;
    }
    
    .subtitle-area{
        width: 60%;
        height: 7%;
        opacity: 0;
        position: absolute;
    }
    
    .rules{
        margin: 33% 0 0 36%;
        animation: text-opc 0.7s 1.2s forwards;
    }
    
    .pay{
        margin: 98% 0 0 27.5%;
        animation: text-opc 0.7s 1.8s forwards;
    }
    
    .subtitle-text{
        font-size: 40px;
        font-family: 'Century Gothic';
        font-weight: bold;
    }
    .subrules{color: #FF3523;}
    .subpay{color: #375E7A;}
    
    
    
}