html, body{
    width: 100%;
    height: 100%;
    margin: 0;    
    background-image: url('images/backgrounds/cross_pattern_bckg.png');
    background-size: 7%;
    background-position: 0.8% 0%;
}

.button{    
    position: absolute;
    width: 80%;
    height: 185px;
    border-radius: 100px;
}

.top-button{
    margin: 11% 0 0 9%;
    background-color: #EAEAEA;
    transform: scale(0);
    animation: button-scale 0.5s 0.3s forwards;
}

.button-text{
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    color: #000000;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    margin-top: 9%;
}

.title-area{
    position: absolute;
    width: 100%;
    height: 10%;
    margin: 33% 0 0 0;
}

.title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 130px;
    margin: 0 0 0 13%;
    text-shadow: -10px 10px 0px #A2C0D7;
}

.text-area{
    position: absolute;
    width: 100%;
    height: 20%;
    margin: 55% 0 0 0;
}

.text{
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.contact-text{    
    font-size: 50px;
    margin: 4% 7% 0 7%;
    text-align: center;
}

.button-area{
    position: absolute;
    width: 100%;
    height: 60%;
    margin: 97% 0 0 0;
}

.button-link{
    background-color: #fff;
    width: 90%;
    height: 16%;
    margin: 2% 0 0 3%;
    padding: 1%;
    border-left: 12px solid #375E7A;
}

.icon-area{
    position: absolute;
    background-color: thistle;
    width: 20%;
    height: 16%;
    margin-left: 3%;
}

.text-link{
    position: absolute;
    font-size: 50px;
    margin: 7% 0 0 27%;
    color: #BEA5A5;
}

@keyframes button-scale{
    0%{transform:scale(0); opacity: 0;}
    100%{transform:scale(1); opacity: 1;}    
}