html, body{
    width: 100%;
    height: 100%;
    margin: 0;    
    background-image: url('images/backgrounds/cross_pattern_bckg.png');
    background-size: 7%;
    background-position: 0.8% 0%;
}

.button{    
    position: absolute;
    width: 80%;
    height: 185px;
    border-radius: 100px;
}

.top-button{
    margin: 11% 0 0 9%;
    background-color: #EAEAEA;
    transform: scale(0);
    animation: button-scale 0.5s 0.3s forwards;
}

.button-text{
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    color: #000000;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    margin-top: 9%;
}

.title-area{
    position: absolute;
    width: 100%;
    height: 10%;
    margin: 33% 0 0 0;
    opacity: 0;
    animation: title-opc 0.5s 0.8s forwards;
}

.title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 130px;
    margin: 0 0 0 13%;
    text-shadow: -10px 10px 0px #A2C0D7;
}

.text-area{
    position: absolute;
    width: 100%;
    height: 20%;
    margin: 55% 0 0 0;
    opacity: 0;
    animation: text-opc 0.5s 1.4s forwards;
}

.text{
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.contact-text{    
    font-size: 50px;
    margin: 4% 7% 0 7%;
    text-align: center;
}

.button-area{
    position: absolute;
    width: 100%;
    height: 60%;
    margin: 97% 0 0 0;
}

.button-link{
    background-color: #FFF;
    width: 90%;
    height: 16%;
    margin: 2% 0 0 3%;
    padding: 1%;
    border-left: 12px solid #375E7A;
}

.icon-area{
    position: absolute;
    width: 20%;
    height: 80%;
    margin: 1.5% 0 0 1.5%;
}

.icon-image{
    position: absolute;
    object-fit: contain;
    width: 80%;
    height: 90%;
    margin: 5% 0 0 10%;
}

.coming{
    width: 50%;
    height: 50%;
    margin: 23% 0 0 23%;
}

.text-link{
    position: absolute;
    font-size: 50px;
    margin: 7% 0 0 27%;
    color: #BEA5A5;
}

#footer{
    position: absolute;
    width: 100%;
    height: 7%;
    margin-top: 220%;
    opacity: 0;
    animation: opacity 0.5s 0.7s forwards;
}

#footer-text{
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 39px;
    line-height: 1;
    margin-top: 6%;
    text-align: center;
    color: #000000;
}

.effect1{animation: button-link .7s 1.8s forwards; opacity: 0;}
.effect2{animation: button-link .7s 2.2s forwards; opacity: 0;}
.effect3{animation: button-link .7s 2.6s forwards; opacity: 0;}
.effect4{animation: button-link .7s 3s forwards; opacity: 0;}
.effect5{animation: button-link .7s 3.4s forwards; opacity: 0;}

@keyframes button-scale{
    0%{transform:scale(0); opacity: 0;}
    100%{transform:scale(1); opacity: 1;}    
}

@keyframes title-opc{
    0%{transform:translateX(-100px); opacity: 0;}
    100%{transform: translateX(0); opacity: 1;}      
}

@keyframes text-opc{
    0%{transform:translateY(-100px); opacity: 0;}
    100%{transform: translateY(0); opacity: 1;}      
}

@keyframes button-link{    
    0%{transform:translateX(-100px); opacity: 0;}
    100%{transform: translateX(0); opacity: 1;}      
}

@keyframes opacity{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@media (min-width:1281px){

    
}