html, body{
    width: 100%;
    margin: 0;
    background-image: url('C:/Users/josue/Documents/GitHub/portfolio/images/pattern_bckg.png');
    background-size: 35%;
    background-position: -3% 0%;
}

#logo-area{
    position: absolute;
    width: 450px;
    height: 462px;
    margin-top: 15%;
    margin-left: 26%;
}

#text-area{
    position: absolute;
    width: 450px;
    height: 121px;
    margin-top: 75%;
}

#logo-text{
    font-family: 'Futura Md BT';
    font-style: normal;
    font-weight: normal;
    font-size: 62px;
    line-height: 1px;
    text-align: center;
    color: #000000;
    opacity: 0;
    transform: scale(0);
    animation: logo-effect 0.5s 0.7s forwards;
}

#logo-image{
    position: absolute;
    width: 290px;
    height: 290px;
    margin-left: 16.5%;
    margin-top: 8%;
    background-image: url('C:/Users/josue/Documents/GitHub/portfolio/images/Pimentta_Logo.png');
    background-size: 100%;
    opacity: 0;
    transform: scale(0);
    animation: logo-effect 0.5s 0.3s forwards;
}

@keyframes logo-effect{
    0% {transform: scale(0);}
    100% {transform: scale(1); opacity: 1;}    
}