html, body{
    width: 100%;
    margin: 0;
}

#logo-area{
    position: absolute;
    width: 450px;
    height: 462px;
    margin-top: 15%;
    margin-left: 26%;
}

#text-area{
    position: absolute;
    width: 450px;
    height: 121px;
    margin-top: 75%;
}

#logo-text{
    font-family: 'Futura Md BT';
    font-style: normal;
    font-weight: normal;
    font-size: 62px;
    line-height: 1px;
    text-align: center;
    color: #000000;
}

#logo-image{
    position: absolute;
    width: 290px;
    height: 290px;
    margin-left: 16.5%;
    margin-top: 8%;
    background-color: cadetblue;
}